* {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #020824 !important;
    font-size: 16px;
}

.part5 {
    background: url(background.jpg) center no-repeat;
    background-size: cover;
    margin-top: 40px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title1 h1 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
}

.title1 p {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

.title1 input {
    width: 400px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 300px;
    margin-top: 40px;
    margin-left: 25px;
}

.navbar {
    display: flex;
    padding-top: 30px;
}

.main-logo img {
    padding-left: 100px;
    width: 450px;
    padding-left: 120px;
}

.element {
    display: flex;
    padding-left: 500px;
    padding-top: 8px;
    cursor: pointer;
}

.element li {
    text-decoration: none;
    list-style-type: none;
    color: white;
    padding-right: 30px;
    font-size: 20px;
}

.element :hover {
    color: #f72585;
    cursor: pointer;
}

.login button {
    margin-left: 25px;
    background: linear-gradient(90deg, #48fc8b, #1de7ea);
    border: none;
    width: 60px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.part1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.About-card {
    background: linear-gradient( -45deg, rgb(5, 38, 93), rgba(5, 38, 93, 0.3));
    width: 300px;
    height: 200px;
    margin: 40px;
    border-radius: 5px;
    color: white;
}

.element a {
    text-decoration: none;
}

.part1 :hover {
    transform: scale(1.1);
}

.About-card img {
    width: 60px;
    padding-left: 125px;
    margin-top: 20px;
}

.About-card h2 {
    text-align: center;
    margin-top: 30px;
}

.question-cards {
    display: flex;
    padding-left: 100px;
    cursor: pointer;
}

.question-cards :hover {
    transform: scale(1.1);
}

.question-card1 {
    background: linear-gradient( -45deg, rgb(5, 38, 93), rgba(5, 38, 93, 0.3));
    width: 450px;
    height: 180px;
    margin: 40px;
    border-radius: 2px;
    color: white;
}

.titre h1 {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    padding-top: 20px;
}

.question-card1 h2 {
    text-align: center;
    font-size: 20px;
    padding-top: 80px;
}

.part3 {
    margin-top: 30px;
}

.container {
    display: flex;
    color: #ffffff;
}

.container img {
    border: none;
    border-bottom: none;
}

.paragraph {
    width: 60%;
    margin-top: 60px;
}

.paragraph h2 {
    width: 800px;
    text-align: center;
    color: #1de7ea;
    font-size: 30px;
    padding-top: 10px;
}

.paragraph p {
    width: 800px;
    font-size: 20px;
    margin-left: 90px;
    padding-top: 10px;
    font-weight: lighter;
}

footer {
    display: flex;
    color: #fff;
    height: 550px;
    background: url(background.jpg);
}

.footer1 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.footer1 img {
    width: 400px;
}

.footer1 h1 {
    padding-left: 65px;
    padding-top: 30px;
}

.footer1 p {
    padding-left: 65px;
    padding-top: 30px;
    font-weight: lighter;
}

.footer1 hr {
    margin-left: 65px;
    margin-top: 15px;
    color: #fff;
}

.contact {
    padding-left: 65px;
    padding-top: 15px;
}

.contact input {
    border-radius: 5px;
    width: 250px;
    height: 35px;
    background-color: #ffffff;
    border: none;
}

 ::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
    padding-left: 10px;
}

 :-ms-input-placeholder {
    color: rgb(255, 255, 255);
}

 ::-ms-input-placeholder {
    color: rgb(255, 255, 255);
}

.contact button {
    background: linear-gradient(90deg, #48fc8b, #1de7ea);
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.footer2 {
    margin-left: 150px;
    margin-top: 150px;
}

.footer2 p {
    margin-top: 15px;
    cursor: pointer;
}

.footer2 :hover {
    color: #f72585;
}

.social-media-contact button {
    background-color: transparent;
    border: none;
}

.social-media-contact {
    display: flex;
    flex-direction: column;
}

.social-media-contact img {
    width: 40px;
}

.social-media-contact h1 {
    padding-left: 150px;
    padding-top: 30px;
}

.icons {
    padding-left: 150px;
    padding-top: 20px;
}

.icons button {
    margin: 10px;
}

@media screen and (min-width: 451px) and (max-width: 900px) {
    .main-logo img {
        display: none;
    }
    .navbar img {
        display: none;
    }
    .login {
        display: none;
    }
    .element {
        padding-left: 25%;
    }
    .part1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .question-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 120px;
    }
    .container img {
        display: none;
    }
    .container {
        padding: 0;
        margin-left: -90px;
        width: 700px;
    }
    .paragraph h2 {
        padding-left: 100px;
    }
    .paragraph p {
        width: 600px;
        font-size: 20px;
        margin-left: 90px;
        padding-top: 10px;
        font-weight: 100;
        text-align: center;
        padding-left: 100px;
    }
    .paragraph {
        padding-top: 20px;
    }
    footer {
        display: flex;
        flex-direction: column;
        padding-left: 200px;
    }
    .footer1 hr {
        display: none;
    }
    .footer2 {
        display: none;
    }
    .social-media-contact h1 {
        padding-left: 70px;
    }
    .icons {
        padding-left: 70px;
    }
}