                                                 * {
                                                     margin: 0;
                                                     padding: 0;
                                                 }
                                                 
                                                 body {
                                                     font-weight: 400;
                                                     font-family: Verdana, Geneva, Tahoma, sans-serif;
                                                     background-color: #020824 !important;
                                                     font-size: 16px;
                                                 }
                                                 
                                                 .navbar {
                                                     display: flex;
                                                     padding-top: 30px;
                                                 }
                                                 
                                                 .main-logo img {
                                                     padding-left: 100px;
                                                     width: 450px;
                                                     padding-left: 120px;
                                                 }
                                                 
                                                 .element {
                                                     display: flex;
                                                     padding-left: 500px;
                                                     padding-top: 8px;
                                                     cursor: pointer;
                                                 }
                                                 
                                                 .element li {
                                                     text-decoration: none;
                                                     list-style-type: none;
                                                     color: white;
                                                     padding-right: 30px;
                                                     font-size: 20px;
                                                 }
                                                 
                                                 .element :hover {
                                                     color: #f72585;
                                                     cursor: pointer;
                                                 }
                                                 
                                                 .login button {
                                                     margin-left: 25px;
                                                     background: linear-gradient(90deg, #48fc8b, #1de7ea);
                                                     border: none;
                                                     width: 60px;
                                                     height: 30px;
                                                     cursor: pointer;
                                                     border-radius: 5px;
                                                 }
                                                 
                                                 header {
                                                     background: url(background.jpg);
                                                     height: 800px;
                                                 }
                                                 
                                                 .part1 {
                                                     padding-left: 220px;
                                                     padding-top: 150px;
                                                 }
                                                 
                                                 .left-text h1 {
                                                     color: white;
                                                     font-size: 42px;
                                                     width: 35%;
                                                     font-size: 60px;
                                                 }
                                                 
                                                 .btns-primary {
                                                     display: flex;
                                                     padding-top: 20px;
                                                 }
                                                 
                                                 .Create button {
                                                     background: linear-gradient(90deg, #48fc8b, #1de7ea);
                                                     border: none;
                                                     width: 100px;
                                                     height: 50px;
                                                     border-radius: 5px;
                                                     cursor: pointer;
                                                     font-size: 15px;
                                                 }
                                                 
                                                 .Create :hover {
                                                     background: #1de7ea;
                                                     color: #ffffff;
                                                 }
                                                 
                                                 .left-text p {
                                                     color: rgb(255, 255, 255);
                                                     padding-top: 10px;
                                                 }
                                                 
                                                 .Explore {
                                                     padding-left: 15px;
                                                 }
                                                 
                                                 .Explore button {
                                                     border: 1px#1de7ea solid;
                                                     color: rgb(255, 255, 255);
                                                     background: transparent;
                                                     border: 1px solid #1de7ea;
                                                     width: 100px;
                                                     height: 50px;
                                                     border-radius: 5px;
                                                     cursor: pointer;
                                                     font-size: 15px;
                                                 }
                                                 
                                                 .Explore button:hover {
                                                     background: #fff;
                                                     color: #111;
                                                 }
                                                 
                                                 .carousel-container {
                                                     display: none;
                                                 }
                                                 
                                                 #slider {
                                                     position: absolute;
                                                     width: 600px;
                                                     height: 800px;
                                                     overflow: hidden;
                                                     margin-left: 45%;
                                                     margin-top: 130px;
                                                     top: 0;
                                                     box-shadow: 0 0 30px rgba(0, 0, 0, 0);
                                                 }
                                                 
                                                 #slider ul {
                                                     position: relative;
                                                     list-style: none;
                                                     height: 100%;
                                                     width: 100%;
                                                     padding: 0;
                                                     margin: 0;
                                                     transition: all 750ms ease;
                                                     left: 0;
                                                 }
                                                 
                                                 #slider ul li {
                                                     position: relative;
                                                     float: left;
                                                 }
                                                 
                                                 #slider ul li img {
                                                     width: 600px;
                                                     height: fit-content;
                                                     animation-name: fadein;
                                                     animation-duration: 2s;
                                                 }
                                                 
                                                 #img2 {
                                                     position: absolute;
                                                     animation-name: fadeout;
                                                     animation-duration: 4s;
                                                 }
                                                 
                                                 @keyframes slidein {
                                                     from {
                                                         transform: translateY(100%);
                                                     }
                                                     to {
                                                         transform: translateY(0%);
                                                     }
                                                 }
                                                 
                                                 @keyframes fadein {
                                                     0% {
                                                         left: 0%;
                                                         transform: rotateY(0deg);
                                                     }
                                                     49% {
                                                         transform: rotateY(0deg);
                                                     }
                                                     50% {
                                                         left: 90%;
                                                         transform: rotateY(180deg);
                                                     }
                                                     99% {
                                                         transform: rotateY(180deg);
                                                     }
                                                     100% {
                                                         left: 0%;
                                                         transform: rotateY(0deg);
                                                     }
                                                 }
                                                 
                                                 .main-title h1 {
                                                     font-family: sans-serif;
                                                     color: white;
                                                     text-align: center;
                                                     margin-top: 60px;
                                                     font-size: 40px;
                                                 }
                                                 
                                                 .card1 {
                                                     display: flex;
                                                     flex-direction: column;
                                                     justify-content: center;
                                                     width: 15%;
                                                     height: 250px;
                                                     background-color: #1b2039;
                                                     border-radius: 12px;
                                                     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                                     margin-right: 80px;
                                                 }
                                                 
                                                 .card1 :hover {
                                                     animation-name: zoom-in-zoom-out;
                                                     animation-duration: 2s;
                                                 }
                                                 
                                                 .card1 img {
                                                     width: 50px;
                                                     text-align: center;
                                                     padding-left: 110px;
                                                     padding-top: 10px;
                                                 }
                                                 
                                                 .card1 h3 {
                                                     font-family: sans-serif;
                                                     color: #ffffff;
                                                     padding-left: 40px;
                                                     padding-top: 10px;
                                                 }
                                                 
                                                 .card1 p {
                                                     font-family: sans-serif;
                                                     color: rgb(255, 255, 255);
                                                     font-weight: lighter;
                                                     font-size: 12px;
                                                     padding-left: 8px;
                                                     padding-top: 10px;
                                                     text-align: justify;
                                                     width: 95%;
                                                     align-items: center;
                                                 }
                                                 
                                                 .btn button {
                                                     border: 1px#1de7ea solid;
                                                     color: rgb(255, 255, 255);
                                                     background: transparent;
                                                     border: 1px solid #1de7ea;
                                                     width: 100px;
                                                     height: 50px;
                                                     border-radius: 5px;
                                                     cursor: pointer;
                                                     font-size: 15px;
                                                     margin-left: 82px;
                                                     margin-top: 30px;
                                                 }
                                                 
                                                 .btn :hover {
                                                     background: #fff;
                                                     color: #111;
                                                 }
                                                 
                                                 .cards {
                                                     display: flex;
                                                     justify-content: center;
                                                     align-items: center;
                                                     padding-top: 80px;
                                                 }
                                                 
                                                 @keyframes zoom-in-zoom-out {
                                                     0% {
                                                         transform: scale(1, 1);
                                                     }
                                                     50% {
                                                         transform: scale(1.3, 1.3);
                                                     }
                                                     100% {
                                                         transform: scale(1, 1);
                                                     }
                                                 }
                                                 
                                                 .part3 {
                                                     margin-top: 80px;
                                                 }
                                                 
                                                 .title {
                                                     color: white;
                                                     padding-left: 35px;
                                                 }
                                                 
                                                 .product-card1 {
                                                     display: flex;
                                                     flex-direction: column;
                                                     color: #fff;
                                                     height: 550px;
                                                     margin-right: 60px;
                                                     margin-top: 60px;
                                                     width: 18%;
                                                     border: 1px solid #1cd0ff;
                                                     border-radius: 10px;
                                                     background: linear-gradient( -45deg, rgb(5, 38, 93), rgba(5, 38, 93, 0.3));
                                                 }
                                                 
                                                 .product-card1:hover {
                                                     transform: scale(1.2);
                                                 }
                                                 
                                                 .product-img img {
                                                     padding-left: 18px;
                                                     padding-top: 25px;
                                                     width: 299px;
                                                 }
                                                 
                                                 .info {
                                                     display: flex;
                                                 }
                                                 
                                                 .info p {
                                                     padding-top: 15px;
                                                     padding-left: 20px;
                                                 }
                                                 
                                                 .info img {
                                                     width: 25px;
                                                     padding-left: 5px;
                                                     padding-top: 10px;
                                                 }
                                                 
                                                 .biders h3 {
                                                     padding-left: 20px;
                                                     padding-top: 15px;
                                                     color: #fff;
                                                 }
                                                 
                                                 .bid-img {
                                                     padding-left: 30px;
                                                 }
                                                 
                                                 .bid-img img {
                                                     width: 30px;
                                                     padding-top: 30px;
                                                 }
                                                 
                                                 .bid-btn button {
                                                     background: linear-gradient(90deg, #48fc8b, #1de7ea);
                                                     border: none;
                                                     width: 100%;
                                                     height: 50px;
                                                     border-radius: 5px;
                                                     cursor: pointer;
                                                     font-size: 15px;
                                                     margin-top: 20px;
                                                 }
                                                 
                                                 .bid-btn :hover {
                                                     background: #1de7ea;
                                                     color: #ffffff;
                                                 }
                                                 
                                                 .product-cards {
                                                     display: flex;
                                                     justify-content: center;
                                                     align-items: center;
                                                 }
                                                 
                                                 .part4 {
                                                     margin-top: 120px;
                                                     display: flex;
                                                     flex-direction: column;
                                                 }
                                                 
                                                 .part4-title {
                                                     color: white;
                                                     padding-left: 35px;
                                                     text-align: center;
                                                 }
                                                 
                                                 .description p {
                                                     color: gray;
                                                     width: 50%;
                                                     text-align: center;
                                                     padding-left: 462px;
                                                     padding-top: 20px;
                                                     scursor: pointer;
                                                     font-weight: lighter;
                                                 }
                                                 
                                                 .description p:hover {
                                                     transform: scale(1.2);
                                                     padding-top: 15px;
                                                 }
                                                 
                                                 .Artist-card1 {
                                                     display: flex;
                                                     flex-direction: column;
                                                     color: #fff;
                                                     margin-right: 60px;
                                                     margin-top: 60px;
                                                     border-radius: 10px;
                                                     height: 550px;
                                                     width: 18%;
                                                     background: linear-gradient( -45deg, rgb(55, 30, 39), rgba(55, 30, 39, 0.3));
                                                 }
                                                 
                                                 .Artist-card1 img {
                                                     padding-top: 18px;
                                                     width: 95%;
                                                     padding-left: 10px;
                                                     padding-top: 10px;
                                                     padding-left: 8px;
                                                     border-radius: 20px;
                                                 }
                                                 
                                                 .name h3 {
                                                     text-align: center;
                                                     padding-top: 15px;
                                                 }
                                                 
                                                 .name p {
                                                     text-align: center;
                                                     padding-top: 10px;
                                                     color: gray;
                                                 }
                                                 
                                                 .name h5 {
                                                     text-align: center;
                                                     font-weight: lighter;
                                                     padding-top: 10px;
                                                 }
                                                 
                                                 .Artist-card1:hover {
                                                     transform: scale(1.1);
                                                 }
                                                 
                                                 .Artist-cards {
                                                     display: flex;
                                                     justify-content: center;
                                                     align-items: center;
                                                 }
                                                 
                                                 .part5 {
                                                     background: url(background.jpg) center no-repeat;
                                                     background-size: cover;
                                                     margin-top: 80px;
                                                     height: 300px;
                                                     display: flex;
                                                     flex-direction: column;
                                                     justify-content: center;
                                                     align-items: center;
                                                 }
                                                 
                                                 .title1 h1 {
                                                     color: #fff;
                                                     text-align: center;
                                                     font-size: 40px;
                                                     padding-top: 40px;
                                                 }
                                                 
                                                 .title1 p {
                                                     text-align: center;
                                                     margin-top: 20px;
                                                     color: #ffffff;
                                                 }
                                                 
                                                 .title1 button {
                                                     background: linear-gradient(90deg, #48fc8b, #1de7ea);
                                                     border: none;
                                                     width: 200px;
                                                     height: 50px;
                                                     border-radius: 5px;
                                                     cursor: pointer;
                                                     margin-left: 400px;
                                                     margin-top: 40px;
                                                 }
                                                 
                                                 footer {
                                                     display: flex;
                                                     color: #fff;
                                                     height: 450px;
                                                 }
                                                 
                                                 .footer1 {
                                                     display: flex;
                                                     flex-direction: column;
                                                     margin-top: 50px;
                                                 }
                                                 
                                                 .footer1 img {
                                                     width: 400px;
                                                 }
                                                 
                                                 .footer1 h1 {
                                                     padding-left: 65px;
                                                     padding-top: 30px;
                                                 }
                                                 
                                                 .footer1 p {
                                                     padding-left: 65px;
                                                     padding-top: 30px;
                                                     font-weight: lighter;
                                                 }
                                                 
                                                 .footer1 hr {
                                                     margin-left: 65px;
                                                     margin-top: 15px;
                                                 }
                                                 
                                                 .contact {
                                                     padding-left: 65px;
                                                     padding-top: 15px;
                                                 }
                                                 
                                                 .contact input {
                                                     border-radius: 5px;
                                                     width: 250px;
                                                     height: 35px;
                                                     background-color: #1b2039;
                                                     border: none;
                                                 }
                                                 
                                                  ::placeholder {
                                                     color: rgb(255, 255, 255);
                                                     opacity: 1;
                                                     padding-left: 10px;
                                                 }
                                                 
                                                  :-ms-input-placeholder {
                                                     color: rgb(255, 255, 255);
                                                 }
                                                 
                                                  ::-ms-input-placeholder {
                                                     color: rgb(255, 255, 255);
                                                 }
                                                 
                                                 .contact button {
                                                     background: linear-gradient(90deg, #48fc8b, #1de7ea);
                                                     border: none;
                                                     width: 100px;
                                                     height: 35px;
                                                     border-radius: 5px;
                                                     cursor: pointer;
                                                 }
                                                 
                                                 .footer2 {
                                                     margin-left: 150px;
                                                     margin-top: 150px;
                                                 }
                                                 
                                                 .footer2 p {
                                                     margin-top: 15px;
                                                     cursor: pointer;
                                                 }
                                                 
                                                 .footer2 :hover {
                                                     color: #f72585;
                                                 }
                                                 
                                                 .social-media-contact button {
                                                     background-color: transparent;
                                                     border: none;
                                                 }
                                                 
                                                 .social-media-contact {
                                                     display: flex;
                                                     flex-direction: column;
                                                 }
                                                 
                                                 .social-media-contact img {
                                                     width: 40px;
                                                 }
                                                 
                                                 .social-media-contact h1 {
                                                     padding-left: 150px;
                                                     padding-top: 30px;
                                                 }
                                                 
                                                 .icons {
                                                     padding-left: 150px;
                                                     padding-top: 20px;
                                                 }
                                                 
                                                 .icons button {
                                                     margin: 10px;
                                                 }
                                                 
                                                 .element img {
                                                     width: 30px;
                                                     padding-left: 150px;
                                                     padding-bottom: 80px;
                                                 }
                                                 
                                                 @media screen and (min-width: 451px) and (max-width: 1100px) {
                                                     .main-logo img {
                                                         display: none;
                                                     }
                                                     .navbar img {
                                                         display: none;
                                                     }
                                                     .login {
                                                         display: none;
                                                     }
                                                     .element {
                                                         padding-left: 25%;
                                                     }
                                                     .left-text h1 {
                                                         width: 600px;
                                                     }
                                                     .left-text img {
                                                         width: 600px;
                                                         padding-bottom: 20px;
                                                     }
                                                     #slider {
                                                         display: none;
                                                     }
                                                     .part1 {
                                                         padding-left: 160px;
                                                         padding-top: 100px;
                                                     }
                                                     header {
                                                         height: 500px;
                                                     }
                                                     .btns-primary {
                                                         padding-left: 150px;
                                                     }
                                                     .card1 {
                                                         width: 60%;
                                                         margin-top: 30px;
                                                     }
                                                     .cards {
                                                         flex-direction: column;
                                                         margin-top: 100px;
                                                         padding-top: 5px;
                                                     }
                                                     .card1 h3 {
                                                         padding-left: 80px;
                                                     }
                                                     .btn button {
                                                         margin-left: 350px;
                                                     }
                                                     .card1 img {
                                                         padding-left: 25px;
                                                     }
                                                     .product-cards {
                                                         flex-wrap: wrap;
                                                     }
                                                     .product-card1 {
                                                         width: 38%;
                                                     }
                                                     .description p {
                                                         padding-left: 200px;
                                                     }
                                                     .Artist-cards {
                                                         flex-wrap: wrap;
                                                         padding-left: 30px;
                                                     }
                                                     .Artist-card1 {
                                                         width: 25%;
                                                         height: 450px;
                                                     }
                                                     .title1 button {
                                                         margin-left: 330px;
                                                     }
                                                     .title1 h1 {
                                                         padding-left: 30px;
                                                     }
                                                     footer {
                                                         display: flex;
                                                         flex-direction: column;
                                                         padding-left: 200px;
                                                     }
                                                     .footer1 hr {
                                                         display: none;
                                                     }
                                                     .footer2 {
                                                         display: none;
                                                     }
                                                     .social-media-contact h1 {
                                                         padding-left: 70px;
                                                     }
                                                     .icons {
                                                         padding-left: 70px;
                                                     }
                                                 }
                                                 
                                                 @media screen and (max-width: 450px) {
                                                     .navbar {
                                                         background: #020824;
                                                         position: absolute;
                                                         left: 0;
                                                         top: 5em;
                                                         width: 100%;
                                                         height: 0;
                                                         display: flex;
                                                         justify-content: center;
                                                         align-items: center;
                                                         flex-direction: column;
                                                         opacity: 0;
                                                         transition: 0.6s;
                                                         overflow: hidden;
                                                         z-index: 9;
                                                     }
                                                     #slider {
                                                         display: none;
                                                     }
                                                     html {
                                                         font-size: 10px;
                                                     }
                                                     .part1 {
                                                         padding-left: 8px;
                                                         width: 1100px;
                                                     }
                                                     .left-text p {
                                                         width: 400px;
                                                     }
                                                     .cards {
                                                         display: flex;
                                                         flex-direction: column;
                                                         margin-left: 30px;
                                                     }
                                                     .card1 {
                                                         width: 250px;
                                                         width: 250px;
                                                         margin-bottom: 15px;
                                                     }
                                                     .product-cards {
                                                         display: flex;
                                                         flex-direction: column;
                                                         margin-left: 30px;
                                                     }
                                                     .product-card1 {
                                                         width: 350px;
                                                         margin-bottom: 15px;
                                                     }
                                                     .Artist-cards {
                                                         display: flex;
                                                         flex-direction: column;
                                                         margin-left: 30px;
                                                     }
                                                     .Artist-card1 {
                                                         width: 250px;
                                                     }
                                                     .title1 p {
                                                         width: 400px;
                                                     }
                                                     .title1 button {
                                                         margin-left: 100px;
                                                     }
                                                     .secondary-p {
                                                         display: none;
                                                     }
                                                     footer {
                                                         display: flex;
                                                         flex-direction: column;
                                                     }
                                                     .footer2 {
                                                         margin-left: 60px;
                                                         margin-top: 30px;
                                                     }
                                                     .social-media-contact {
                                                         display: none;
                                                     }
                                                 }
                                                 
                                                 .login {
                                                     display: flex;
                                                 }
                                                 
                                                 .element a {
                                                     text-decoration: none;
                                                 }